
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

.region-header .page-header {
  border-bottom: none;
  margin: 15px 5px;
  background:rgba(255,255,255,0.7);
  border: 2px solid $gray-light;
  border-radius: 10px;
  padding: 10px 20px;
  p.web-title {
    color: $gray-dark;
    margin-bottom: 0px;
    @media (max-width: $screen-sm-max) {
      font-size: 28px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 54px;
    }
  }
  p.web-subtitle {
    display: block;
    color: $gray;
    @media (max-width: $screen-sm-max) {
      font-size: 15px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 22px;
    }
  }
}
.region-menu-secundario .views-row {
  margin-bottom: 10px;
}
.page-header {
  margin-top: 0;
}
.migas {
  background-color: $gray-lighter;
  margin-bottom: 25px;
}
.breadcrumb {
  background: none;
  border-radius: 0px;
  margin-bottom: auto;
}